<strong>Olá, {{ deliveryman }}</strong>
<p>Novo produto para entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ produto }} <br />
  <strong>Endereço: </strong> {{ rua }}, {{ numero }}, {{ complemento }}, {{ cidade }}-{{ estado }}<br />
  <br />
  <small>
    Podera pegar a encomenda para entrega dentre 8:00 às 18:00hrs
  </small>
</p>